


<h1>Edit Link/h1>




<form action="<%= link_url(@link) %>" method="post">
  <input type="hidden" name="_method" value="patch">
<label>
Title
<input type="text" name="link[title]" value="<%= @link.title %>">
</label>
<label>
URL
<input type="text" name="link[url]" value="<%= @link.url %>">
</label>
<input type="submit" name="" value="Update Link">
</form>
